/.git
/.vs
Web.config
Web.Debug.config
Web.Release.config
Web - Copy\.config
CertifyChecklistInstaller.exe
Pages/MyAccount/Downloads/CertifyChecklistInstaller.exe
/Pages/MyAccount/Downloads/CertifyChecklistInstaller.exe
CheckItInstaller.exe
Resources/CheckItInstaller.exe
/Resources/CheckItInstaller.exe
checkIt.xml
Resources/checkIt.xml
/Resources/checkIt.xml
SampleSubmission_Symbio.pdf
Resources/SampleSubmission_Symbio.pdf
/Resources/SampleSubmission_Symbio.pdf